.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

* {
  box-sizing: border-box;
}

.wrapper {
  border: 2px solid #F00;
  border-radius: 5px;
}

.wrapper>div {
  border: 2px solid #F00;
  border-radius: 5px;
  padding: 1em;
}


.wrapper2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.wrapper2 {
  border: 2px solid #F00;
  border-radius: 5px;
}

.wrapper2>div {
  border: 2px solid #F00;
  border-radius: 5px;
  padding: 1em;
}