* {
    font-family: Grenze;
    margin-top: 1%;
}


#nombre:valid {
    background-color: goldenrod;
}
#nombre:invalid {
    background-color: red;
}

#profesion {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: gainsboro;
}

input[type="submit"]{
    border-radius: 10px;
    background-color: goldenrod;
    border: none;
    box-shadow: 2px 2px 10px black;
    text-transform: uppercase;
}

a {
    color: black;
    text-decoration-line: none;
    text-decoration: none;
}

a:valid {
    color: blue;
}

#puntosCordura:valid {
    background-color: goldenrod;
}
#puntosCordura:invalid{
    background-color: red;
}

input[type="checkbox"]:checked::after {
    content: "";
    background: url(Captura.JPG);
    background-size: 50px;
    display: inline-block;
    height: 50px;
    width: 50px;
    margin: 100%;
}






/* vietnamese */
@font-face {
    font-family: 'Grenze';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Grenze Regular'), local('Grenze-Regular'), url(https://fonts.gstatic.com/s/grenze/v1/O4ZTFGb7hR12BxqH92Imqgw.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Grenze';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Grenze Regular'), local('Grenze-Regular'), url(https://fonts.gstatic.com/s/grenze/v1/O4ZTFGb7hR12BxqH9mImqgw.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Grenze';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Grenze Regular'), local('Grenze-Regular'), url(https://fonts.gstatic.com/s/grenze/v1/O4ZTFGb7hR12BxqH-GIm.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }